
@font-face {
    font-family: 'Bevan';
    font-style: normal;
    font-weight: 400;
    src: 
         url('../fonts/bevan-v18-latin-regular.woff2') format('woff2'),
         url('../fonts/bevan-v18-latin-regular.woff') format('woff'); 
  }